
.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;

}
.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.forca{
  display: flex;
  width: 30%;
  height: 30%;
  align-content: 40%;
  margin-left: 25%;
}
.imgforca{
  position: relative;
  display: flex;
  width: 40%;
  height: 40%;
  align-content: 40%;
  margin-left: 30%;
  overflow: hidden;
}
.escolha{
  display: inline;
  width: 30%;
  height: 30%;
  left: 820px;
  padding: 100px;
  text-align: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}
.imgpersonagem{
  width: 45%;
  height: 45%;
  display: inline-block ;
  margin-left: auto;
  margin-right: auto;
}
.palForca{
  display: inline;
  font-size: 90px;
  font-family: 'Courier New', Courier, monospace;
  color: brown;
  margin-left: auto;
  margin-right: auto;
}
.palavra{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.letrasCertas{
  float: left;
  display: block;
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
  color: darkblue;
  align-items: left;
  
}
.letrasErradas{
  float: right;
  display: inline;
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
  color: rgb(243, 4, 64);
  top: 150;
}
.imgenforcado{
  max-width: 20px;
  max-height: 10px;
  position:relative;
  top: 70px;
  left: -100px;

}
.corpo{
  position: relative;
  top: -20px;
  left: -42px;
}
canvas{
  opacity: 1,0;
}